.new_navbar{
    background: linear-gradient(to right,rgb(166, 213, 241),rgb(77, 77, 108));
}

.c_img{
    height:90vh;
    width: auto;
}

.about_img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    /* box-shadow: 3px 3px 20px red; */
    box-shadow: aquamarine ;
}

.ho{
    border-radius: 20px;
    box-shadow: 3px 3px 10px red;
}